<%- include("header.ejs") %>

<body>
    <%- include("navbar.ejs") %>

    <div style="margin-top: 150px; margin-left: 150px; margin-right: 50px;">
    <div class="card" style="width: 18rem;">
        <img src="place.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         
          <a href="place_order1"  class="btn " style="background-color:#eb2d53; color: white;">Place Order </a>
        </div>
      </div>
      <div style="margin-top: -220px; margin-left: 400px; ">
        <div class="card" style="width: 18rem;">
            <img src="order.jpg" class="card-img-top" alt="...">



            <div class="card-body" >
              <a href="quick_sell" class="btn " style="background-color:#eb2d53 ; color: white;">Quick sell </a>
            </div>
          </div>
        </div>
        <div style="margin-top: -260px; margin-left: 800px; ">
            <div class="card" style="width: 18rem;">
                <img src="credit.jpg" class="card-img-top" alt="...">
    
    
    
                <div class="card-body" >
                  <a href="credit_products1" class="btn " style="background-color:#eb2d53 ; color: white;">Credit Product </a>
                </div>
              </div>
            </div>
    </div>

    

</body>

<%- include("footer.ejs") %>