<%- include("header.ejs") %>

<body>
    <%- include("navbar.ejs") %>
    <div class="row">
        <div class="col-sm-4">
            <h2>Select Supplier</h2>
            <label>Selected: </label> <label></label>
            <table class="table" id="supplier_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Account number</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button class="btn btn-primary">Select</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-8">

        </div>
    </div>
</body>
<script src="/place_order.js"></script>
<%- include("footer.ejs") %>